<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cada um tem o que merece</title>

    <meta property="og:image" content="http://<%= @request.host_with_port %>/memes/soclose.gif"/>
    <meta property="og:title" content="Cada um tem o que merece"/>

    <meta name="description" content="Se você recebeu esse link, você fez por merecer"/>

    <link rel="canonical" href="<%= @request.url %>"/>
    <meta property="og:url" content="<%= @request.url %>"/>

    <style>
      body {
        font-family: Arial,Helvetica,Sans-Serif;
        text-align: center;
      }

      h1 {
        position: absolute;
        top: 50%;
        width: 98%;
        margin: -200px 0 0 0;
        text-transform: uppercase;
        font-size: 30px;
        color: #c5c5c5;
      }

      h1 strong {
        font-size: 200px;
        display: block;
        color: #000;
      }

      .freddie {
        border: 0;
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 5;
      }

      .freddie img {
        border: 0;
      }
    </style>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-761701-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <h1>Cada um tem o que <strong>merece.</strong></h1>

    <div class="freddie">
      <a href="http://9gag.com" target="_blank">
        <img src="/memes/soclose.gif" alt="U mad?"/>
      </a>
    </div>
  </body>
</html>
